<!DOCTYPE html>
<html>
<head>
    <title>Inventario</title>
</head>
<body>
    <h1>Inventario</h1>
    <table border="1">
        <thead>
            <tr>
                {% for column in inventario.columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in inventario.values %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
